body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home-component {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
}

.layout-buffer {
  flex-grow: 2;
}

.layout-main {
  flex-grow: 5;
}

.feed-box {
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
}

.hide {
  display: none;
}